# Local config
local_config.py

# Egg info? 
*.egg-info/*

# Pycache
*__pycache__*
*.DS_Store

# Don't include data
go_space/data/_*

# Don't include models
go_space/saved_models

# VSCODE NOISE
*.vscode*
